<% layout('layouts/app') %>

<div class="row">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
      <%= err %>
      <hr>
      <p><%= err.stack %></p>
    </h4>
  </div>
</div>